<html>
<head>
    {% if title %}
        <title> {{ title }} - Mikeyblog</title>
    {% else %}
        <title> Welcome to Mikeyblog!</title>
    {% endif %}
</head>
<body>
<div>
    <div>Microblog: <a href='{{ url_for('index') }}'>Home</a></div>
    <div>Microblog: <a href='{{ url_for('login') }}'>Login</a></div>
</div>
<hr/>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>
